body {
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
h1 {
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}
form{
    display: inline-block;
}
.f{
    display: grid;
    place-items: center;
    grid-template-columns: 1;
}
