body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(255,255,255);
    border: 9px solid white;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 10px;
}
.contenedor input[type="radio"]{
    height: auto;
}
button{
    color: white;
}
button:hover{
    transform: scale(1.02);
    background-color: rgb(51, 146, 51);
}
.franja{
    height: 100px;
    justify-items: center;  
    border-radius: 10px;
    font-size: 40px;
    padding: 15px 0;
    width: 200%;
    bottom: 1%;
}
.pregunta{
    font-size: 30px;
    text-align: justify;
    height: auto;
    width: 200%;
}
.comprobar{
    font-size: 18px;
    border-radius: 8px;
    padding: 10px 20px;
    justify-content: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    width: 50%;
    background-color: rgb(65, 183, 65);
}